<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add review</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th.href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h2>Add a review for <span th:text="${event.name}"></span>!</h2>

    <form action="#" th:action="@{/savenewreview}" method="post" th:object="${review}">

        <p>Score:</p>
        
        <p></p><input type="radio" value="1" th:field="*{score}"/>1</p>
        <p></p><input type="radio" value="2" th:field="*{score}"/>2</p>
        <p></p><input type="radio" value="3" th:field="*{score}"/>3</p>
        <p></p><input type="radio" value="4" th:field="*{score}"/>4</p>
        <p></p><input type="radio" value="5" th:field="*{score}"/>5</p>
        
    
        <textarea th:field="*{reviewText}" size="160px"></textarea>
        <p><input type="hidden" name="eventId" th:field="${event.eventId}"></p>
        <input type="submit" value="Add review"/>

    </form> <!--<input type="text" style="height: 150px" th:field="*{reviewText}"/>-->
</body>

</html>