<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit event</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th.href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h2>Edit event</h2>
    <form action="#" th:action="@{/updateevent}" method="post" th:object="${event}">
        <p><input type="hidden" th:field="*{eventId}" /></i></p>
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Category:
            <select th:field="${event.category}">
                <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.name}">
                </option>
            </select>
        </p>
        <p>City:
            <select th:field="${event.city}">
                <option th:each="city : ${cities}" th:value="${city.cityId}" th:text="${city.name}">
                </option>
            </select>
        </p>
        <p>Date: <input type="date" th:field="*{date}" /></p>
        <p>Start time: <input type="time" th:field="*{startTime}" /></p>
        <p>End time: <input type="time" th:field="*{endTime}" /></p>
        <p>Price: <input type="number" th:field="*{price}" /></p>
        <p>Description: <input type="text" th:field="*{description}" /></p>
        <input type="submit" value="Save" />

    </form>

</body>

</html>