<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <h1> List of events</h1>
    <table>
        <tbody>
            <tr>
                <th>Event name</th>
                <th>Type</th>
                <th>City</th>
                <th>Date</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Description</th>
            </tr>
            <tr th:each="event: ${events}">
                <td th:text="${event.name}"></td>
                <td th:text="${event.category.name}"></td>
                <td th:text="${event.city.name}"></td>
                <td th:text="${event.date}"></td>
                <td th:text="${event.startTime}"></td>
                <td th:text="${event.endTime}"></td>
                <td th:text="${event.description}"></td>
                <td> 
                    <a th:href="@{/editevent/{id}(id=${event.eventId})}">Edit</a>
                </td>
                <td>
                    <a th:href="@{/addreview/{id}(id=${event.eventId})}">Add a review</a>
                </td>
                <td> <!--Tänne ehkä sec:authorize="hasAuthority('ADMIN')"-->
                    <a th:href="@{/deleteevent/{id}(id=${event.eventId})}">Delete</a>
                </td>
                

            </tr>
        </tbody>
        
    </table>
    <br>
    <a class="btn btn-success" th:href="@{/addevent}">Add event</a>


    
    
</body>
</html>